{% extends 'base.html.twig' %}
{% block title %}Amine Page{% endblock %}
{% block body %}
    <p>
        My full name is {{myName}} and i'm {{age}} Years old<br/>
        this method is called from controller {{controller}} which is calling the
        method {{method}} ! 
    </p>
{% endblock %}
