{% extends 'base.html.twig' %}
{% block title %}Movie Detail{% endblock %}
{% block body %}
<p>
    here i'am rendering details for a single Movie with name {{ name }}<br/>
    this route calls the method {{ method_name }} in controller {{ controller_name }}
    {% if last_name %}
        <h3>{{ last_name }}</h3>
    {% else %}
        <h3>No Last name Found</h3>
    {% endif %}
</p>
{% endblock %}
 